<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<h:body>
	<h:form>
		<h:panelGrid columns="2" style="width:100%;"
			columnClasses="headerLeft, headerRight">
			<p:commandLink action="/index.jsf">
				<h:graphicImage value="/resources/images/logo.png" />
			</p:commandLink>
			<p:menubar>
				<p:submenu label="#{msg['ciaAerea']}">
					<p:menuitem value="#{msg.cadastrar}" url="/paginas/manterCiaAerea.jsf" />
					<p:menuitem value="#{msg.pesquisar}" url="/paginas/pesquisarCiaAerea.jsf" />
				</p:submenu>
				<f:facet name="options">
					<p:commandLink actionListener="#{idiomaMB.mudarBrPt}" ajax="@all">
						<h:graphicImage value="/resources/images/br.png" width="32"
							height="32" />
					</p:commandLink>
					<p:spacer width="10px" />
					<p:commandLink actionListener="#{idiomaMB.mudarUsEn}" ajax="@all">
						<h:graphicImage value="/resources/images/usa.png" width="32"
							height="32" />
					</p:commandLink>
				</f:facet>
			</p:menubar>
		</h:panelGrid>
	</h:form>
</h:body>
</html>